form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
form label {
  display: flex;
  margin-bottom: 40px;
  align-items: center
}
form input, form select {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  flex-grow: 1;
  margin-left: 20px;
  height: 40px;
  border: 1px #333 solid;
  border-radius: 10px;
}
form p:first-of-type, form p:nth-of-type(2) {
  font-weight: 500;
  font-size: 20px;
  background-color: red;
  color: white;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}
form P:nth-of-type(2) {
  background-color: green;
}
form p {
  text-align: center;
}