@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap');

@import './Components/Header.css';
@import './Components/EventForm.css';
@import './Components/ConcertThumbnail.css';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}